<div class="footer">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <div>
                <img src="" alt="">
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <hr style="width: 10vh" class="mx-3 hr">
                <h3 class="text-center my-3 colortitleBlue">Suivez-nous !</h3>
                <hr style="width: 10vh" class="mx-3 hr">
            </div>
            <div class="">
                <div class="d-flex justify-content-center align-items-center">
                    <i class="fab fa-facebook px-4"></i>
                    <i class="fab fa-instagram px-4"></i>
                    <i class="fab fa-twitter px-4"></i>
                    <i class="fab fa-youtube px-4"></i>
                </div>
                <div class="">
                    <ul class="d-flex justify-content-center align-items-center my-4">
                        <li class="pucelist">
                            <a class="footerStyle stylelist p-3" href="{{ path('app_login') }}">Homme</a>
                        </li>
                        <li class="pucelist">
                            <a class="footerStyle stylelist p-3" href="{{ path('app_login') }}">Femme</a>
                        </li>
                        <li class="pucelist">
                            <a class="footerStyle stylelist p-3" href="{{ path('app_login') }}">Entraineur</a>
                        </li>
                        <li class="pucelist">
                            <a class="footerStyle stylelist p-3" href="{{ path('app_login') }}">A propos</a>
                        </li>
                        <li class="pucelist">
                            <a class="footerStyle stylelist p-3" href="{{ path('app_login') }}">Contact</a>
                        </li>
                        <li class="pucelist">
                            <a class="footerStyle stylelist p-3" href="{{ path('app_login') }}">Login</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>