<div class="footer ">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <div>
                <a href="{{ path('home') }}">
                    <img src="{{ asset('uploads/images/logo.png') }}" alt="Logo">
                </a>
            </div>
            <div class=" d-flex justify-content-center align-items-center">
                <span><hr class="hr"></span>
                <h3 class="text-center my-3 colortitleBlue"> Suivez-nous !</h3>
                <span><hr class="hr"></span>    
            </div>
            <div class="">
                <div class="d-flex justify-content-center align-items-center my-3">
                    <a href="#">
                        <img src="{{ asset('uploads/images/logoFb.png') }}" alt="logo instagram" class="logoInsta">
                    </a>
                    <a href="#">
                        <img src="{{ asset('uploads/images/logoInsta.png') }}" alt="logo facebook" class="logoFb">
                    </a>
                    <a href="#">
                        <img src="{{ asset('uploads/images/logoTwitter.png') }}" alt="logo twitter" class="logoTwitter">
                    </a>
                    <a href="#">
                        <img src="{{ asset('uploads/images/logoYoutube.png') }}" alt="logo youtube" class="logoYoutube">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>