<nav class="navbar navbar-expand-lg navbar-light styleUser">
    <div class="container-fluid">
        <div class="col-12 d-flex justify-content-between align-items-center flex-wrap">

            <div class="col-lg-12 col-md-10 col-sm-12 border2">
                <button class="custom-toggler navbar-toggler burger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>
            </div>

            <div class="col-lg-1 col-md-10 col-sm-12 border1">
                    <a class="navbar-brand logo" href="{{ path('home') }}">
                        <img src="{{ asset('uploads/images/logo.png') }}" alt="" width="auto" height="86">
                    </a>
            </div>


            <div class="col-lg-11 col-md-10 col-sm-12 border3">    
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 flex-wrap">
                        {% if app.user %}
                        
                            {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                                <li class="nav-item">
                                    <a class="colortitleBlue" href="{{ path('admin_home') }}">Administration</a>
                                </li>    
                            {% endif %}

                        {% endif %}

                        {% for category in categoryRepository.findAll() %}

                            <li class="dropdown">
                                <a class="colortitleBlue dropdownList" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ category.name}}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    {% for tag in category.tags %}

                                        <li><a class="dropdown-item" href="{{ path('customer_product_show',{'idCategory': category.id, 'idTag': tag.id }) }}">{{tag.name}}</a></li>
                                    
                                    {% endfor %}
                                </ul>
                            </li>
                            
                        {% endfor %}
       
                        <li class="nav-item">
                            <a class="colortitleBlue" href="{{ path('a_propos') }}">A propos</a>
                        </li>    
                        <li class="nav-item">
                            <a class="colortitleBlue" href="{{ path('customer_contact') }}">Contact</a>
                        </li>

                        {% if app.user %}                      
                            <li class="nav-item">
                                <a class="colortitleBlue" href="{{ path('app_logout') }}">Se déconnecter</a>
                            </li>  
                        {% else %}

                        <li class="nav-item">
                            <a class="colortitleBlue" href="{{ path('app_login') }}">Login</a>
                        </li>
                        {% endif %}

                        <li class="nav-item me-3">
                            <a href="{{ path('cart_detail') }}"><i class="fas fa-shopping-cart"></i></a>
                        </li>
                    </ul>            
                </div>
            </div>  
        </div>
    </div>
</nav>