<nav class="navbar navbar-expand-lg navbar-dark styleUser">
    <div class="container-fluid">
        <div class="col-12">
            <ul class="navbar-nav justify-content-around align-items-center">
                {% if app.user %}
                
                    {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                        <li class="nav-item px-2">
                            <a class="colortitleBlue" href="{{ path('admin_home') }}">Administration</a>
                        </li>    
                    {% endif %}

                {% endif %}



                {% for category in categoryRepository.findAll() %}

                    <div class="dropdown">
                        <a class="colortitleBlue" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ category.name}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            {% for tag in category.tags %}

                                <li><a class="dropdown-item" href="{{ path('customer_category_show',{'idCategory': category.id, 'idTag': tag.id }) }}">{{tag.name}}</a></li>
                            
                            {% endfor %}
                        </ul>
                    </div>
                    
                {% endfor %}





                <div>
                    <a class="colortitleBlue" href="{{ path('home') }}">Accueil</a>
                </div>    
                <li class="nav-item px-2">
                    <a class="colortitleBlue" href="{{ path('a_propos') }}">A propos</a>
                </li>    
                <li class="nav-item px-2">
                    <a class="colortitleBlue" href="{{ path('customer_contact') }}">Contact</a>
                </li>
                {% if app.user %}
                    
                    <li class="nav-item">
                        <a class="colortitleBlue" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>  

                {% endif %}
                <li class="nav-item">
                    <a class="colortitleBlue" href="{{ path('app_login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a href=""><i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>            
        </div>
    </div>
</nav>