<nav class="navbar navbar-expand-lg navbar-dark styleUser">
    <div class="container-fluid">
        <div class="col-12">
            <ul class="navbar-nav justify-content-around align-items-center">
                {% if app.user %}
                
                    {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                        <li class="nav-item px-2">
                            <a class="colortitleBlue" href="{{ path('admin_home') }}">Administration</a>
                        </li>    
                    {% endif %}

                {% endif %}

                <div class="dropdown">
                    <a class="colortitleBlue" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                        Homme
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Vetement</a></li>
                        <li><a class="dropdown-item" href="#">Protection</a></li>
                        <li><a class="dropdown-item" href="#">Accessoires</a></li>
                    </ul>
                </div>

                <div class="dropdown">
                    <a class="colortitleBlue" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Femme
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Vetement</a></li>
                        <li><a class="dropdown-item" href="#">Protection</a></li>
                        <li><a class="dropdown-item" href="#">Accessoires</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <a class="colortitleBlue" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Entraineur
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Vetement</a></li>
                        <li><a class="dropdown-item" href="#">Protection</a></li>
                        <li><a class="dropdown-item" href="#">Accessoires</a></li>
                    </ul>
                </div>
                <div>
                    <a class="colortitleBlue" href="{{ path('home') }}">Accueil</a>
                </div>    
                <li class="nav-item px-2">
                    <a class="colortitleBlue" href="{{ path('a_propos') }}">A propos</a>
                </li>    
                <li class="nav-item px-2">
                    <a class="colortitleBlue" href="{{ path('customer_contact') }}">Contact</a>
                </li>
                {% if app.user %}
                    
                    <li class="nav-item">
                        <a class="colortitleBlue" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>  

                {% endif %}
                <li class="nav-item">
                    <a class="colortitleBlue" href="{{ path('app_login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a href="#"><i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>            
        </div>
    </div>
</nav>