{% extends 'customer/base.html.twig' %}

{% block title %}D&MStore{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-12 d-flex justify-content-center align-items-center">
            {{ form_start(registrationForm, {'action': path('register_user'), 'method': 'POST', 'attr': {'class': 'col-sm-10 col-md-9 col-lg-10 cardForm d-flex flex-wrap justify-content-center align-items-center py-3'}}) }}
                <div class="py-3 col-sm-10 col-md-10 col-lg-10">
                    <h3 class="text-center colortitleBlue">Inscription</h3>
                </div>

                <div class="wrap text-center d-flex align-items-center justify-content-around col-sm-10 col-md-10 col-lg-10">
                    <div class="wrap">
                        <label for="inputEmail" class="labelStyle">Email</label>                                 
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'mx-2 myRounded'}}) }}
                    </div>
                    <div class="wrap">
                        <label for="inputEmail" class="labelStyle">Mot de passe</label>                                 
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'mx-2 myRounded'}}) }} 
                    </div>                                                                                                           
                </div>

                <div class="wrap text-center d-flex align-items-center justify-content-around col-sm-10 col-md-10 col-lg-10">
                    <div class="wrap">
                        <label for="inputEmail" class="labelStyle">Prenom</label>                                 
                        {{ form_widget(registrationForm.firstname, {'attr': {'class': 'mx-2 myRounded'}}) }}
                    </div>
                    <div class="wrap">
                        <label for="inputEmail" class="labelStyle">Nom</label>                                 
                        {{ form_widget(registrationForm.lastname, {'attr': {'class': 'mx-2 myRounded'}}) }}
                    </div>
                    <div class="wrap">
                        <label for="inputEmail" class="labelStyle">Age</label>                                 
                        {{ form_widget(registrationForm.age, {'attr': {'class': 'mx-2 myRounded'}}) }}
                    </div>
                </div>

                <div class="wrap text-center d-flex align-items-center justify-content-around col-sm-10 col-md-10 col-lg-10">
                    <div class="wrap">
                        <label for="inputEmail" class="labelStyle">Date de naissance</label>                                 
                        {{ form_widget(registrationForm.dateofbirth, {'attr': {'class': 'myRounded'}}) }}                                  
                    </div>
                    <div class="wrap">
                        <label for="inputEmail" class="labelStyle">Adresse</label>
                        {{ form_widget(registrationForm.adress, {'attr': {'class': ' myRounded'}}) }}
                    </div>
                </div>

                <div class="wrap text-center d-flex align-items-center justify-content-around col-sm-10 col-md-10 col-lg-10">
                    <div class="wrap">
                        <label for="inputEmail" class="labelStyle">CP</label>
                        {{ form_widget(registrationForm.cp, {'attr': {'class': 'myRounded'}}) }}
                    </div>
                    <div class="wrap">
                        <label for="inputEmail" class="labelStyle">Ville</label>
                        {{ form_widget(registrationForm.city, {'attr': {'class': ' myRounded'}}) }}
                    </div>
                </div>

                <div>
                    <button class="btnStyle" type="submit">
                        S'inscrire
                    </button>
                </div>

            {{ form_end(registrationForm) }}
            
        </div>

        <div class="col-12 d-flex justify-content-center align-items-center">             
            <form method="post" class="col-sm-10 col-md-9 col-lg-10 cardForm d-flex flex-wrap justify-content-center align-items-center my-5">
                <div class="py-3 col-sm-10 col-md-10 col-lg-10">
                    <h3 class="text-center colortitleBlue">Connectez-vous</h3>
                </div>
                <div class="d-flex flex-column col-sm-10 col-md-9 col-lg-10 my-2">
                    <label for="inputEmail" class="labelStyle">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="p-3 myRounded" autocomplete="email" required autofocus placeholder="exemple@exemple.fr">
                </div>
                <div class="d-flex flex-column col-sm-10 col-md-9 col-lg-10">
                    <label for="inputPassword" class="labelStyle">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="p-3 myRounded" autocomplete="current-password" required placeholder="Votre mot de passe...">
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="d-flex justify-content-center align-items-end pt-3">
                    <button class="btnStyle my-5" type="submit">Se connecter</button>
                </div>
            </form>     
        </div>
    </div>
{% endblock %}
