{% extends 'customer/base.html.twig' %}

{% block title %}D&MStore{% endblock %}

{% block body %}
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(registrationForm, {'action': path('register_user'), 'method': 'POST'}) }}

                            {{ form_row(registrationForm.email) }}
                            {{ form_row(registrationForm.plainPassword) }}
                            {{ form_row(registrationForm.firstname) }}
                            {{ form_row(registrationForm.lastname) }}
                            {{ form_row(registrationForm.age) }}
                            {{ form_row(registrationForm.dateofbirth) }}
                            {{ form_row(registrationForm.adress) }}
                            {{ form_row(registrationForm.cp) }}
                            {{ form_row(registrationForm.city) }}

                            <button type="submit" class="btn btn-primary mt-3">S'inscrire</button>
                        {{ form_end(registrationForm) }}
                    
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="cardForm col-9">
                    
                    <div class="">
                        <form method="post" class="cardStyle">
                        <h3 class="text-center colortitle2">Connectez-vous</h3>
                            <div class="d-flex flex-column col-12 my-2">
                                <label for="inputEmail">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="p-3 myRounded" autocomplete="email" required autofocus placeholder="exemple@exemple.fr">
                            </div>
                            <div class="d-flex flex-column col-12">
                                <label for="inputPassword">Mot de passe</label>
                                <input type="password" name="password" id="inputPassword" class="p-3 myRounded" autocomplete="current-password" required placeholder="Votre mot de passe...">
                            </div>

                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >

                            {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            #}
                            <div class="d-flex justify-content-center align-items-end pt-3 mt-5">
                                <button class="btnStyle" type="submit">
                                    Connexion
                                </button>
                            </div>
                        </form>    
                    </div>
                </div>  
            </div>  
        </div>
    </div>
{% endblock %}
