{% extends "customer/base.html.twig" %}

{% block body %}
    {# Section Image d'accueil #}

    <section class="section1 d-center justify-content-around flex-wrap flex-column col-12">
        <h1 class="textHome1 titleSize fontTitle col-10 ">Bienvenue sur D&Mstore !</h1>
        <p class="textHome1 textSize fontText col-10 ">
        Venez découvrir notre gamme de produits sportifs spécialement dédié au ballon ovale !
        En passant d'une paire de chaussure aux casques, D&M store vous propose une large gamme de produit pour 
        votre sport préféré.
        N'attendez plus.
        </p>
        <p class="textHome1 sloganSize col-10 ">Vous êtes votre seule limite !</p>
    </section>

    {# Section Produit Phare #}

    <section class="my-5">
        <div class=" d-center justify-content-around flex-column flex-wrap container-fluid">
            <h2 class="colortitleRed text-center my-5 col-12 col-sm-4 col-md-4 col-lg-4">Produits phare</h3>
            <div class=" py-3 d-center justify-content-around flex-wrap col-12 col-sm-10 col-md-12 col-lg-12">
            {% for i in 0..2 %}  
                <div class="card d-center flex-column my-3 col-7 col-md-3 col-lg-2" >
                    <figure class="">
                        <a><img src="{{ products[i].imagePath }}" alt="" class="card-img-top" style="height: 250px; max-width: auto;"></a>
                        <figcaption class="text-center pt-3 colortitleRed">{{products[i].name}}</figcaption>
                    </figure>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

    {# Section Formulaire inscription #}
    
    <section >
        <div class="container-fluid ">
            <div class="col-12 d-center justify-content-around flex-wrap py-5">
                <div class="d-center flex-column justify-content-around col-12 col-md-10 col-lg-5">
                    <h2 class=" col-11 text-center colortitleBlue fs-1 my-3">Inscrivez-vous !</h2>
                    <p class="col-10 col-sm-7 col-md-5 col-lg-6 colortitleBlue fontText my-5 fs-3">Rejoignez D&M Store en vous inscrivant et recevez directement dans votre boîte mail des offres exclusifs !</p>
                </div>
                {{ form_start(registrationForm, {'action': path('register_user'), 'method': 'POST', 'attr': {'class': 'col-8 col-sm-8 col-lg-6 cardForm d-center flex-wrap'}}) }}
                    <div class=" d-center col-12 py-3">
                        <h3 class="text-center colortitleBlue">Inscription</h3>
                    </div>

                    <div class="col-12 col-md-6 col-lg-5 d-center column">
                        <label for="mail" class="labelStyle">Email</label>                                 
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'myRounded'}}) }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 d-center column">
                        <label for="password" class="labelStyle">Mot de passe</label>                                 
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'myRounded'}}) }} 
                    </div>                                                                                                           

                    <div class="col-12 col-md-6 col-lg-5 d-center column">
                        <label for"firstname" class="labelStyle">Prenom</label>                                 
                        {{ form_widget(registrationForm.firstname, {'attr': {'class': 'myRounded'}}) }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 d-center column">
                        <label for="lastname" class="labelStyle">Nom</label>                                 
                        {{ form_widget(registrationForm.lastname, {'attr': {'class': 'myRounded'}}) }}
                    </div>

                    <div class="col-12 col-md-6 col-lg-5 d-center column">
                        <label for="dateofbirth" class="labelStyle">Date de naissance</label>                                 
                        {{ form_widget(registrationForm.dateofbirth, {'attr': {'class': 'myRounded'}}) }}                                  
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 d-center column">
                        <label for="address" class="labelStyle">Adresse</label>
                        {{ form_widget(registrationForm.adress, {'attr': {'class': ' myRounded'}}) }}
                    </div>

                    <div class="col-12 col-md-6 col-lg-5 d-center column">
                        <label for="cp" class="labelStyle">CP</label>
                        {{ form_widget(registrationForm.cp, {'attr': {'class': 'myRounded'}}) }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 d-center column">
                        <label for="city" class="labelStyle">Ville</label>
                        {{ form_widget(registrationForm.city, {'attr': {'class': ' myRounded'}}) }}
                    </div>

                    <div class="d-center my-5">
                        <button class="btnStyle" type="submit">
                            S'inscrire
                        </button>
                    </div>

                {{ form_end(registrationForm) }}
            
            </div>
        </div>
    </section>

{% endblock %}