{% extends "customer/base.html.twig" %}


{% block body %}
<div class="container py-5">

    <div class="row">

        <div class="col-12 mt-3">
            {% include "customer/shared/_messages_flash.html.twig" %}
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="fontTitle colortitleRed text-center">Récapitulatif</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="fontTitle colortitleBlue">
                                    <tr>
                                        <th scope="col">Produit</th>
                                        <th scope="col">P.U</th>
                                        <th scope="col" >Qté</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in detailCart %}
                                        <tr>
                                            <td>
                                                <div class="d-flex flex-column align-items-center">
                                                    <img src=" {{ item.product.imagePath }}" alt="{{ item.product.name }}" class="imgProduct">
                                                    <div class="d-center flex-column fontText colortitleBlue">
                                                        <p>{{ item.product.name }}</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="fontText colortitleBlue">{{ item.product.price | euroPrice }}</td>
                                            <td>
                                                <button class="btn btn-light">{{ item.qty }}</button>
                                            </td>
                                            <td class="fontText colortitleRed fw-bold">{{ item.total | euroPrice }}</td>
                                        </tr>
                                    {% endfor%}
                                    <tr class="fontTitle colortitleRed">
                                        <th colspan="2"></th>
                                        <th class="colortitleBlue"><strong>Sous Total</strong></th>
                                        <th><strong>{{ totalCart | euroPrice }}</strong></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
            {% if app.user %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="fontTitle colortitleRed text-center">Adresse de livraison</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'class': 'd-center flex-wrap column'}}) }}
                            <div class="col-12 col-md-6 col-lg-10 d-center column">
                                <label for="adress" class="fs-6 labelStyle">Numero et Rue</label>                                 
                                {{ form_widget(form.adress, {'attr': {'class': 'col-7 myRounded'}}) }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-10 d-center column">
                                <label for="cp" class="fs-6 labelStyle">Code postale</label>                                 
                                {{ form_widget(form.cp, {'attr': {'class': 'col-7 myRounded'}}) }}
                            </div>
                            <div class="col-12 col-md-6 col-lg-10 d-center column">
                                <label for="city" class="fs-6 labelStyle ">Ville</label>                                 
                                {{ form_widget(form.city, {'attr': {'class': 'col-7 myRounded'}}) }}
                            </div>


                            <button class="btn btnStyle my-5">Enregistrer</button>
                        {{ form_end(form) }}
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-header">
                        <h3 class="fontTitle colortitleRed text-center">Paiement en ligne</h3>
                    </div>
                    <div class="card-body d-center">
                        {% if app.user.adress is not same as null %}
                            <form action="{{ path('create_checkout_session') }}" method="POST">
                                <button type="submit" id="checkout-button" class="btn btn-success btnStyle">Paiement sur stripe</button>
                            </form>
                        {% else %}
                            <p class="fontTitle colortitleBlue">Veuillez configurer votre adresse pour pouvoir finaliser la commande.</p>
                        {% endif %}
                    </div>
                </div>

            {% else %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Veuillez vous connecter</h3>
                    </div>
                    <div class="card-body">
                        <p>Déjà un compte ? <a href="{{ path('app_login' )}}" class="btn btn-primary">Veuillez vous connecter</a></p>
                        <hr>
                        <p>Pas encore de compte ? <a href="{{ path('app_login' )}}" class="btn btn-link">Veuillez en créer un</a></p>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}